* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  max-width: 900px;
  width: 900px;
  height: 500px;
  color: hsla(0, 0%, 100%, 0.75);
}

.card__1 {
  max-width: 400px;
  width: 350px;
  height: 100%;
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 45px;
}

.card__2 {
  max-width: 400px;
  width: 350px;
  height: 100%;
  background-color: hsl(184, 100%, 22%);
  padding: 45px;
}

.card__3 {
  max-width: 400px;
  width: 350px;
  height: 100%;
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 45px;
}

.card {
  padding: 45px;
  display: flex;
  flex-direction: column;
}

.card h1 {
  font-family: "Big Shoulders Display", cursive;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 40px;
}

.card img {
  width: 64px;
  height: 40px;
}

.card p {
  font-family: "Lexend Deca", sans-serif;
  margin: 0 0 50px;
  font-size: 15px;
  line-height: 1.7;
}

.card__1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 133px;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(31, 77%, 52%);
  background: #fff;
  margin-top: 35px;
  border-radius: 50px;
  padding: 15px 10px;
}

.card__1 a:hover {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s ease;
  background: hsl(31, 77%, 52%);
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

.card__2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 133px;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(184, 100%, 22%);
  background: #fff;
  margin-top: 35px;
  border-radius: 50px;
  padding: 15px 10px;
}

.card__2 a:hover {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s ease;
  background: hsl(184, 100%, 22%);
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

.card__3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 133px;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(179, 100%, 13%);
  background: #fff;
  margin-top: 35px;
  border-radius: 50px;
  padding: 15px 10px;
}

.card__3 a:hover {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s ease;
  background: hsl(179, 100%, 13%);
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

/* media-css */

@media only screen and (max-width: 950px) {
  body {
    padding: 50px;
  }
  .container {
    max-width: 950px;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  body {
    /* padding: 20px; */
  }
  .container {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  body {
    padding: 20px 20px;
  }
  .container {
    max-width: 400px;
    width: 100%;
    margin-bottom: 40px;
  }
  .card {
    padding: 35px;
    width: 100%;
  }
  .card__1 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .card__3 {
    padding-bottom: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
